

.wi_appearing_button{
    background-image: url(../../WIMedia/Img/icons/element/button.png);
    width: 100%;
    height: 30px;
    background-repeat: no-repeat;
    background-position: -21px -41px;
    background-size: 428%;
    display: block;
}

.wi_button{
    background-image: url(../../WIMedia/Img/icons/element/button.png);
    width: 100%;
    height: 30px;
    background-repeat: no-repeat;
    background-position: -21px -41px;
    background-size: 428%;
    display: block;
}

.wi_buttons{
    height: 30px;
    background-repeat: no-repeat;
    background-position: -21px -41px;
    background-size: 428%;
    display: block;
}

.wi_call_to_action{
  background-image: url(../../WIModule/call_to_action/call.png);
    width: 100%;
    height: 50px;
        background-repeat: no-repeat;
}

.wi_carousel{
  background-image: url(../../WIModule/carousel/carousel.png);
    width: 100%;
    height: 50px;
        background-repeat: no-repeat;
}

.wi_content_box{
  background-image: url(../../WIMedia/Img/icons/element/content_box.png);
width: 100%;
    height: 30px;
    background-repeat: no-repeat;
    background-position: 6px 2px;
    background-size: 72%;
    display: block;
}

.wi_tabs{
    background-image: url(../../WIModule/csstabs/tabs.png);
    width: 100%;
    height: 50px;
        background-repeat: no-repeat;
}

.wi_like{
  background-image: url(../../WIModule/like/like.png);
    width: 100%;
    height: 50px;
        background-repeat: no-repeat;
}

.wi_feature{
    background-image: url(../../WIModule/feature/feature.png);
    width: 100%;
    height: 50px;
        background-repeat: no-repeat;
}

.wi_font{
    background-image: url(../../WIModule/font/font.png);
    width: 100%;
    height: 50px;
        background-repeat: no-repeat;
}

.wi_fonts{
    background-image: url(../../WIModule/fonts/fonts.png);
    width: 100%;
    height: 50px;
        background-repeat: no-repeat;
}

.wi_folded_corner{
    background-image: url(../../WIModule/folded_corner/folded_corner.png);
    width: 100%;
    height: 50px;
        background-repeat: no-repeat;
}

.wi_google_map{
  background-image: url(../../WIModule/google_map/gp.png);
    width: 100%;
    height: 50px;
        background-repeat: no-repeat;
}


.wi_sub{
  background-image: url(../../WIMedia/Img/icons/element/subscribe/sub.png);
    width: 100%;
    height: 50px;
        background-repeat: no-repeat;
}


.wi_search{
  background-image: url(../../WIMedia/Img/icons/element/search.png);
    width: 100%;
    height: 50px;
        background-repeat: no-repeat;
}

.wi_rsidebar{
  background-image: url(../../WIModule/right_sidebar/rsidebar.png);
    width: 100%;
    height: 50px;
        background-repeat: no-repeat;
}

.wi_lsidebar{
  background-image: url(../../WIModule/left_sidebar/lsidebar.png);
    width: 100%;
    height: 50px;
        background-repeat: no-repeat;
}

.wi_progress{
  background-image: url(../../WIMedia/Img/icons/element/progress.png);
   width: 100%;
    height: 30px;
    background-repeat: no-repeat;
    background-position: 16px -41px;
    background-size: 74%;
    display: block;
}

.wi_search_engine{
  background-image: url(../../WIMedia/Img/icons/element/search.png);
   width: 100%;
    height: 30px;
    background-repeat: no-repeat;
    background-position: 16px -41px;
    background-size: 74%;
    display: block;
}

.wi_textbox{
  background-image: url(../../WIMedia/Img/icons/element/textbox.png);
   width: 100%;
    height: 30px;
    background-repeat: no-repeat;
    background-position: 16px -41px;
    background-size: 74%;
    display: block;
}

.wi_paragraph{
  background-image: url(../../WIMedia/Img/icons/element/paragraph.png);
   width: 100%;
    height: 30px;
    background-repeat: no-repeat;
    background-position: 16px -41px;
    background-size: 74%;
    display: block;
}

.wi_slider{
  background-image: url(../../WIMedia/Img/icons/element/slider.png);
   width: 100%;
    height: 30px;
    background-repeat: no-repeat;
    background-position: 16px -41px;
    background-size: 74%;
    display: block;
}

.wi_subscribe{
  background-image: url(../../WIMedia/Img/icons/element/subscribe.png);
   width: 100%;
    height: 30px;
    background-repeat: no-repeat;
    background-position: 16px -41px;
    background-size: 74%;
    display: block;
}

.wi_priceb{
  background-image: url(../../WIModule/price_box/price.png);
    width: 100%;
    height: 50px;
        background-repeat: no-repeat;
}

.wi_panel{
  background-image: url(../../WIModule/panel/panel.png);
    width: 100%;
    height: 50px;
        background-repeat: no-repeat;
}

.wi_top_head{
  background-image: url(../../WIModule/top_head/top_head.png);
    width: 100%;
    height: 50px;
        background-repeat: no-repeat;
}

.wi_index{
  background-image: url(../../WIModule/welcome_box/welcome.png);
    width: 100%;
    height: 50px;
        background-repeat: no-repeat;
}

.wi_about{
  background-image: url(../../WIModule/about_us/about.png);
    width: 100%;
    height: 50px;
        background-repeat: no-repeat;
}

.wi_contact{
  background-image: url(../../WIModule/contact_us/contact.png);
    width: 100%;
    height: 50px;
        background-repeat: no-repeat;
}

.wi_alogin{
  background-image: url(../../WIModule/alogin/login.png);
    width: 100%;
    height: 50px;
        background-repeat: no-repeat;
}

.wi_debate{
  background-image: url(../../WIModule/debate/debate.png);
    width: 100%;
    height: 50px;
        background-repeat: no-repeat;
}

.wi_header{
  background-image: url(../../WIModule/header/header.png);
    width: 100%;
    height: 50px;
        background-repeat: no-repeat;
}

.wi_info{
  background-image: url(../../WIModule/info/info.png);
    width: 100%;
    height: 50px;
        background-repeat: no-repeat;
}

.wi_listings{
  background-image: url(../../WIModule/listings/listings.png);
    width: 100%;
    height: 50px;
        background-repeat: no-repeat;
}

.wi_contact{
  background-image: url(../../WIModule/contact_us/contact.png);
     width: 100%;
    height: 50px;
        background-repeat: no-repeat;
}

.wi_privacy{
  background-image: url(../../WIModule/privacy_policy/privacy.png);
    width: 100%;
    height: 50px;
        background-repeat: no-repeat;
}

.wi_topics{
  background-image: url(../../WIModule/topics/topics.png);
    width: 100%;
    height: 50px;
        background-repeat: no-repeat;
}
#droppablecol10{
  background-image: url(../../WIModule/columns/drop_here.png);
      width: 100%;
    height: 50px;
        background-repeat: no-repeat;
}